# Compiled Object files
bin/*
# metis build
TPLs/metis/metis-5.0.2/build/Linux-x86_64/CMakeFiles/*
TPLs/metis/metis-5.0.2/build/*
# chem lib
chemdata/chemdb.hdf5
Make.depend
*.slo
*.lo
*.o
*.obj
*.d

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pyc

# edited files
*.*~

# outputs from proteus
*.cl
*.vtu
*.pvd
*.timer
*.residual